<h1>Hi, Lily!</h1>

<h3> <u><%= @message.name %></u> just sent an email to OnCore Kinetics! </h3>

<h3> <u><%= @message.email %></u> is their email address </h3>

<h3> <u><%= @message.title %></u> is the message title </h3>

<h3> This is the message body: </h3>

<p> <%= @message.body %> is the message title </p>